;; -*- mode: Lisp; -*-

(setq prj-config
      '(("project-name" . "eproject")))

(setq prj-tools
      '(("Previous File" "-e eproject-prevfile" "M-left")
        ("Next File" "-e eproject-nextfile" "M-right")
        ("---")
        ("Hello World" "echo \"Hello World!\"" "f1")
        ("World Search" "-e (world-search-forward)" "f2")
        ("---")
        ("Explore Project" "nautilus --browser `pwd` &")
        ("XTerm In Project" "xterm &")
        ))

(setq prj-files
      '(("eproject.txt" 1 1)
        ("eproject.el" 1 1)
        ("eproject-config.el" 1 1)
        ))

(setq prj-functions
      '(
        (defun world-search-forward nil
          (info "(emacs)word search")
          (switch-to-buffer
           (generate-new-buffer "*World Search*"))
          (insert-buffer "*info*")
          (save-excursion
            (while
                (re-search-forward "word" nil t)
              (replace-match "world"))))
        ))

(unless prj-list
    (setq prj-list
          (list (list "eproject"
                      (directory-file-name eproject-directory)
                      )))
    (run-with-idle-timer
     1.0 nil
     '(lambda () (message " *** Welcome to eproject ***"))
     ))
